' Use straight lines
skinparam linetype ortho

' Color Scheme
skinparam backgroundColor white

skinparam rectangleBorderColor black
skinparam rectangleArrowColor LightSlateGray

skinparam usecaseBorderColor black
skinparam usecaseArrowColor LightSlateGray

skinparam artifactBorderColor black
skinparam artifactArrowColor LightSlateGray